h1{
    color:#FF6501;
    font-family:agency fb;  
    font-size:43
}
body{
    background-color:withe;
    font-family:agency fb;  
    font-size:43
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 20px; /* Espacio entre los ítems del menú */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

P{
    color:#B60F0F;
    font-family:agency fb;  
    font-size:30
}	

h2{
    color:#08B800;
    font-family:agency fb;  
    font-size:40
}
h3{
    color:#08B800; 
    font-family:agency fb;  
    font-size:37
}
h4{
    color:#08B800; 
    font-family:agency fb;  
    font-size:34
}
li{
    color:#08B800; 
    font-family:agency fb;  
    font-size:25
}
img.gaus{
  width:350px;
  height:200px;
}
img.rider{
  width:350px;
  height:200px;
  border-radius: 50%;
}
table{
    font-family:arial black;  
    font-size:45
     width: 100%;
            background-color:#4800FF;
	color:#FFFFFF;
}